<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                  arguments="-Djava.net.preferIPv4Stack=true -jar &quot;%HOME%\site\wwwroot\app.jar&quot;"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\stdout">
    </httpPlatform>
    <rewrite>
      <rules>
        <rule name="WebSocket" patternSyntax="ECMAScript">
          <match url="/socket.io/.*" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>